
#logo{
  display: inline-block;
  margin-top: 10px;
  margin-right: 15px;
}
#logo2{
  margin-top: 5px;
}

#rotateRight {
  -webkit-transform: scaleX(-1);
}

.btn-large {
  margin: 15px;
}
.center {
  text-align: center;
}

.btn-floating {
  margin: 5px!important;
}

.light {
  position: absolute;
  margin-left: 8px;
  margin-top: -5px;
}

.grid-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
  margin-top: 50px;
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  max-width: 200px;
  }


.cell {
  flex: 0 0 32%;
}


input[type=range]::-webkit-slider-thumb {
  background-color: #7b1fa2;
}
input[type=range]::-moz-range-thumb {
  background-color: #7b1fa2;
}
input[type=range]::-ms-thumb {
  background-color: #7b1fa2;
}

input[type=range] + .thumb {
    background-color: #7b1fa2;
  }

span {
  font-weight: bold;
}
p span {
  color: #7b1fa2;
}
